<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>success</title>
</head>
<body>
    <h1>Success</h1>
    <hr>
    <ul>
        <li><strong>Company Name:</strong> {{ extracted_info.company_name }}</li>
        <li><strong>Company Identifier:</strong> {{ extracted_info.company_identifier }}</li>
        <li><strong>Document Purpose:</strong> {{ extracted_info.document_purpose }}</li>
    </ul>
    <a href="/">Upload another file</a>
</body>
</html>